<%=include('./common/commonLinks.html')(it, opt)%>
<%=include('./common/header.html')(it, opt)%>

<main id="content" role="main">
    <div class="wrap">
        <%=include('./common/leftSide.html')(it, opt)%>
        <div class="contentpanel marginLeftSideBar">
            <div class="searchPanel clearfix">
                <label for="">搜索信息</label>
                <input type="text"  placeholder="姓名或id">
                <label for="">From</label>
                <input type="text" value="" readonly class="datetimepicker fromTime" />
                <label for="">to</label>
                <input type="text" value="" readonly class="datetimepicker toTime" />
                <label for="">状态类型</label>
                <select name="" id="">
                    <option value="">全部</option>
                    <option value="">审核中</option>
                    <option value="">已通过</option>
                    <option value="">已拒绝</option>
                </select>



                <button type="button" class="btn btn-default searchBtn">搜索</button>

            </div>
            <div class="applyTable ListTable">
                <div class="tableTitle">申请记录</div>
                <div class="tableWrapper">
                    <table  class="dataTable table">
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<th><input class="tableSelectCheckBox parentCheckBox" type="checkbox"/></th>-->
                            <!--<th>项目名称</th>-->
                            <!--<th>项目申请人</th>-->
                            <!--<th>申请时间</th>-->
                            <!--<th>当前状态</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr class="listRow">-->
                            <!--<td><input class="tableSelectCheckBox" type="checkbox"/></td>-->
                            <!--<td>灰机很帅</td>-->
                            <!--<td>coverguo</td>-->
                            <!--<td>2014-12-12 12:33</td>-->
                            <!--<td>不通过</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    </table>
                </div>

            </div>



        </div>

    </div>

</main>

<%=include('./common/footer.html')(it)%>
<script type="text/javascript">
    require.config({
        baseUrl : 'js/applyList'
    });
    require(['applyList'], function (applyList) {
        applyList.init();
    });
</script>
</body>

</html>