<%=include('./common/commonLinks.html')(it, opt)%>
<%=include('/common/header.html')(it, opt)%>

<main id="content" role="main">
    <div class="wrap">
        <!--<%=include('/common/leftSide.html')(it, opt)%>-->
        <div class="contentPanel">
            <div class="searchPanel clearfix">
               <!-- <label class="search-info">搜索信息</label>
                <input type="text" class="search-userText" placeholder="姓名（此功能暂时没有用)">-->
                <label class="search-info">当前项目</label>
                <select name="roleType" class="search-userType">
                        <option value="-1">全部</option>
                        <option value="1">管理员</option>
                        <option value="0">普通用户</option>
                </select>
                <button type="button" class="btn btn-default searchBtn">搜索</button>


            </div>

            <div class="userTable ListTable">
                <div class="tableTitle">用户表</div>
                <div class="tableWrapper table-responsive">
                    <table class="dataTable table">
                        <thead>
                        <tr>
                            <th style="width:80px;">#</th>
                            <th style="width:200px;">用户登录名</th>
                            <th style="width:200px;">用户中文名</th>
                            <th style="width:200px;">邮箱</th>
                            <th style="width:200px;">用户角色</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody id="userList">

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</main>

<%=include('/common/footer.html')(it)%>
<script src="/static/entry.authUserManage.js"></script>
</body>

</html>