<%=include('./common/commonLinks.html')(it, opt)%>
<%=include('./common/header.html')(it, opt)%>

<main id="content" role="main">
    <div class="wrap">
        <div class="main autoM">
            <div class="m-mian js_navinfo" id="Mnavinfo-1">
                <div>
                    <h2 class="m-title">1.Badjs能解决哪些问题？</h2>
                    <p class="ml-mod">还在为js脚本的调试、错误等信息苦恼吗？还在为无法重现错误、无法定位问题而郁闷吗？由<a href="http://imweb.github.io/">imweb</a>前端团队开发的
                        Badjs上报可以方便的解决此类问题，快速定位错误，还等什么，赶紧接入Badjs上报吧。</p>
                    <p class="ml-mod">Badjs是为了解决页面js脚本的调试、错误、失败等信息的解决方案。
                        Web页面将调试，错误等信息通过badjs上报到本系统，开发者在本系统中可以查到上报的错误信息，方便追踪问题。</p>
                    <!-- <h2 class="m-title">2.目前已接入的业务</h2>
                     <div class="ml-mod">
                         <table class="tablelist" width="60%" cellpadding="1" cellspacing="1">
                             <tbody>
                             <tr>
                                 <td class="tabletitle">业务名称</td>
                                 <td class="tabletitle">URL</td>
                                 <td class="tabletitle">路径</td>
                             </tr>
                             <tr>
                                 <td>QQ安全中心</td>
                                 <td>http://aq.qq.com</td>
                                 <td></td>
                             </tr>
                             <tr>
                                 <td>可能认识的人</td>
                                 <td>http://id.qq.com/index.html#possible</td>
                                 <td></td>
                             </tr>
                             <tr>
                                 <td>群查找</td>
                                 <td></td>
                                 <td></td>
                             </tr>
                             <tr>
                                 <td>表情搜索</td>
                                 <td></td>
                                 <td></td>
                             </tr>
                             <tr>
                                 <td>QQ等级</td>
                                 <td>http://id.qq.com/level2/</td>
                                 <td></td>
                             </tr>
                             <tr>
                                 <td>LBS</td>
                                 <td></td>
                                 <td></td>
                             </tr>
                             <tr>
                                 <td>推荐表情</td>
                                 <td></td>
                                 <td></td>
                             </tr>
                             <tr>
                                 <td>定时消息</td>
                                 <td>http://id.qq.com/#greeting</td>
                                 <td></td>
                             </tr>
                             <tr>
                                 <td>群设置</td>
                                 <td></td>
                                 <td></td>
                             </tr>
                             <tr>
                                 <td>AIO应用</td>
                                 <td></td>
                                 <td></td>
                             </tr>
                             </tbody>
                         </table>
                     </div>-->
                    <div class="clear"></div>
                </div>
            </div>
            <div class="m-mian js_navinfo" id="Mnavinfo-3">
                <div>
                    <h2 class="m-title">常见问题FAQ</h2>
                    <div class="ml-mod">下面列举一些常见问题供各位参考，参考中无法找到解决办法的问题可以访问 <a target="_blank" href="https://github.com/BetterJS/doc/issues">https://github.com/BetterJS/doc/issues</a></div>
                    <h2 class="m-title">业务接入问题</h2>
                    <div class="ml-mod">
                        <p><b>Q1.Badjs脚本做了什么？</b></p>
                        <p>将信息上报到badjs系统。同时监听error事件，上报脚本错误。</p>
                        <p><b>Q2.为什么要申请业务ID？</b></p>
                        <p>业务ID是为了方便在badjs系统中做查询筛选，每一条上报记录对应了唯一一个业务。</p>
                        <p><b>Q3.项目的有开源吗？</b></p>
                        <p>项目是有开源的：<a href="https://github.com/BetterJS">https://github.com/BetterJS</a></p>
                    </div>
            </div>
        </div>


    </div>
</main>

<%=include('./common/footer.html')(it)%>
</body>

</html>
