<%=include('./common/commonLinks.html')(it, opt)%>
<%=include('./common/indexHeader.html')(it, opt)%>

<main class="index-container" style="padding-top:250px;">

    <form role="form" action="login.html" method="post" style="width:500px;margin:0 auto;">
        <div class="form-group">
            <label for="username">帐号</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="请输入帐号">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="请输入密码">
            <p class="help-block" style="text-align: right ;position: relative">
                <span style="color:red;position: absolute;left:0;top:0"><%=it.message%></span>
                使用 <a href="user/oalogin">OA进行登录</a>
            </p>
        </div>
        <button type="submit" class="btn btn-default">登录</button>
    </form>
</main>

<%=include('./common/footer.html')(it)%>
<script>
</script>
</body>
</html>