<%=include('./common/commonLinks.html')(it, opt)%>
<%=include('/common/header.html')(it, opt)%>

<main id="content" role="main" >
    <div class="wrap">
        <!--<%=include('/common/leftSide.html')(it, opt)%>-->
            <div class="right-side"  >
                <section>
                    <label class="setting-title">统计项目：</label>
                    <select class="form-control " data-event-change="selectBusiness" id="select-business"   >
                        <option value="-1">-- 请选择项目 --</option>
                        <%  for(var i = 0 ; i < it.items.length ;i ++){
                        var itemOne = it.items[i];

                        %>
                        <option value="<%=itemOne.id%>"> <%=itemOne.name%></option>
                        <%}%>
                    </select>
                </section>
                <section>
                    <label class="setting-title">统计时间：</label>
                    <input type="text" value="" readonly class="datetimepicker" id="startTime"/>
                </section>
                <section>
                    <div class="setting-search" id="showLogs">显示统计</div>
                </section>
            </div>
            <div class="mid-side">
                <div class="main-mid">
                    <table class="main-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>出现次数</th>
                            <th>错误内容</th>
                        </tr>
                        </thead>
                        <tbody id="table-content">

                        </tbody>
                    </table>
                </div>
            </div>

    </div>
</main>

<%=include('/common/footer.html')(it)%>
<script type="text/javascript">
    require.config({
        baseUrl : 'js/statistics'
    });
    require(['statistics'], function (statistics) {
        statistics.init();
    });
</script>
</body>

</html>