<%=include('./common/commonLinks.html')(it, opt)%>
<%=include('/common/header.html')(it, opt)%>

<main id="content" role="main" class="autoBottom">
    <div class="wrap">
        <!--<%=include('/common/leftSide.html')(it, opt)%>-->
            <div class="right-side"  >
                <section>
                    <label class="setting-title">统计项目：</label>
                    <select class="form-control " data-event-change="selectBusiness" id="select-business"   >
                        <option value="-1">-- 请选择项目 --</option>
                        <%  for(var i = 0 ; i < it.items.length ;i ++){
                        var itemOne = it.items[i];

                        %>
                        <option value="<%=itemOne.id%>"> (id=<%=itemOne.id%>) <%=itemOne.name%></option>
                        <%}%>
                    </select>
                </section>
                <section>
                    <label class="setting-title">统计时间：</label>
                    <input type="text" value="" readonly class="datetimepicker" id="startTime"/>
                </section>
                <section>
                    <div class="setting-search" id="showLogs">显示统计</div>
                </section>
            </div>
            <div class="mid-side">
                <div class="main-mid">
                    <h4>TOP 50 , 错误PV : <span id="error-count">0</span></h4>
                    <table class="main-table active-table">
                        <thead>
                        <tr>
                            <th class="td-row-1" style="width:40px">#</th>
                            <th class="td-row-2" style="width:120px">出现次数</th>
                            <th class="td-row-3" style="">错误内容</th>
                        </tr>
                        </thead>
                        <tbody id="table-content">

                        </tbody>
                    </table>
                </div>
            </div>

    </div>
</main>
<%=include('./common/footer.html')(it)%>
<script src="/static/entry.statistics.js"></script>
</body>

</html>
