<%=include('./common/commonLinks.html')(it, opt)%>
<%=include('/common/header.html')(it, opt)%>

<main id="content" role="main">
    <div class="wrap">
        <%=include('/common/leftSide.html')(it, opt)%>
        <div class="cotentPanel marginLeftSideBar">
            <div class="userTable ListTable">
                <div class="tableTitle">用户表</div>
                <div class="tableWrapper table-responsive">
                    <table class="dataTable table">
                        <thead>
                        <tr>
                            <th>用户id</th>
                            <th>用户登录名</th>
                            <th>用户中文名</th>
                            <th>用户权限</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>001</td>
                            <td>coverguo</td>
                            <td>郭锋棉</td>
                            <td>管理员</td>
                            <td>
                                <button>编辑</button>
                            </td>
                        </tr>
                        <tr>
                            <td>002</td>
                            <td>coverguo</td>
                            <td>郭锋棉</td>
                            <td>管理员</td>
                            <td>
                                <button>编辑</button>
                            </td>
                        </tr>
                        <tr>
                            <td>002</td>
                            <td>coverguo</td>
                            <td>郭锋棉</td>
                            <td>管理员</td>
                            <td>
                                <button>编辑</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>




        </div>

    </div>
</main>

<%=include('/common/footer.html')(it)%>

</body>

</html>