<%=include('./common/commonLinks.html')(it, opt)%>
<%=include('/common/header.html')(it, opt)%>

<main id="content" role="main">
    <div class="wrap">
        <!--<%=include('/common/leftSide.html')(it, opt)%>-->
        <div class="cotentPanel marginLeftSideBar">
            <div class="searchPanel clearfix">
                <label for="">搜索信息</label>
                <input type="text"  placeholder="姓名或id">
                <label for="">用户类型</label>
                <select name="" id="">
                        <option value="">全部</option>
                        <option value="">管理员</option>
                        <option value="">普通用户</option>
                </select>
                <button type="button" class="btn btn-default searchBtn">搜索</button>

            </div>

            <div class="userTable ListTable">
                <div class="tableTitle">用户表</div>
                <div class="tableWrapper table-responsive">
                    <table class="dataTable table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>用户登录名</th>
                            <th>用户中文名</th>
                            <th>用户权限</th>
                            <th>权限修改</th>
                        </tr>
                        </thead>
                        <tbody id="userList">

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>
</main>

<%=include('/common/footer.html')(it)%>
<script type="text/javascript">
    require.config({
        baseUrl : 'js/userManage'
    });
    require(['userManage'], function (userManage) {
        userManage.init();
    });
</script>
</body>

</html>