<%
    var len = it.length;

    var statue = "";

%>
<% if(len !=0){%>
<thead>
<tr>
    <!--<th><input class="tableSelectCheckBox parentCheckBox" type="checkbox"/></th>-->
    <th>#</th>
    <th>上报id</th>
    <th>名称</th>
    <th>申请人</th>
    <th>申请时间</th>
    <th style="width:30%;">业务描述</th>
    <th>业务网址</th>
    <th>操作</th>


</tr>
</thead>

<tbody id="applyList">
<%for(var i = 0; i<len; i++){
    it[i].status -= 0;
    var STATUS_BLOCK_HEIGHT = 24;
    var status = 'applying-active';
    var statusText = '待审核';
    var statusClass = 'applyingBtn'
    if(it[i].status != 0){
        status = it[i].status ==1 ? 'agree-active' : 'disagree-active';
        statusText = it[i].status ==1 ? '已通过' : '已拒绝';
        statusClass = it[i].status ==1 ? 'passBtn' : 'rejectedBtn';
    }

%>
<tr class="listRow" >
    <!--<td><input class="tableSelectCheckBox" type="checkbox"/></td>-->
    <td class=""><%=(i +1)%></td>
    <td class="apply_id" style="text-align: center;"><%==it[i].id%></td>
    <td class="apply_name"><%==it[i].name%></td>
    <td class="apply_userName"><%==it[i].userName%></td>
    <td class="apply_createTime"><%= _.formatDate( new Date(it[i].createTime) , 'YYYY-MM-DD' )%></td>
    <td  class="apply_description"><%== it[i].description%></td>
    <td class="apply_url"><%==it[i].url%></td>

    <td class="apply_operation">
        <div  class="modifyBtn approveBtn <%=statusClass%>">
            <%== statusText%>
        </div>
        <div class="approveBlock" >
            <div class="closeBtn">关闭</div>

            <input  class="rowBlock replyText" type="text" name="description" placeholder="操作描述"/>

            <div id="statusPanel" class="<%== status%>" data-value="<%== it[i].status%>">
                <div class="statusBtn applying" data-type="applying" data-value="0">待审核</div>
                <div class="statusBtn agree" data-type="agree" data-value="1">通过</div>
                <div class="statusBtn disagree" data-type="disagree" data-value="2">拒绝</div>
            </div>

            <div class="operation" data-apply_id="<%==it[i].id%>">
                <button class="submitBtn" >确定</button>
            </div>


        </div>



    </td>
</tr>
<%}%>
</tbody>
<%}%>
