<%
    var len = it.length;

    var statue = "";

%>
<% if(len !=0){%>
<thead>
<tr>
    <!--<th><input class="tableSelectCheckBox parentCheckBox" type="checkbox"/></th>-->
    <th>#</th>
    <th>项目名称</th>

    <th>申请时间</th>
    <th style="width:30%;">业务描述</th>
    <th>业务网址</th>

    <th>项目申请人</th>
    <th>当前状态</th>
</tr>
</thead>

<tbody id="applyListTbody">
<%for(var i = 0; i<len; i++){
switch(it[i].status){
case 0 : status = "审核中";
break;
case 1 : status = "审核通过";
break;
case 2 : status = "审核不通过";
}
%>
<tr class="listRow" >
    <!--<td><input class="tableSelectCheckBox" type="checkbox"/></td>-->
    <td class="apply_id"><%==it[i].id%></td>

    <td class="apply_userName"><%==it[i].userName%></td>
    <td class="apply_createTime"><%== it[i].createTime%></td>
    <td  class="apply_description"><%== it[i].description%></td>
    <td class="apply_url"><%==it[i].url%></td>
    <td class="apply_name"><%==it[i].name%></td>
    <td class="apply_state"><%== status%> <td>
    <td class="apply_operation"> <span class="modifyBtn btn-default">审核</span></td>





</tr>
<%}%>
</tbody>
<%}%>
