body, html {
    height: 100%;
    overflow: hidden;
    background: #f7f7f7;
}

.clear {
    clear: both; }

a:hover{
    text-decoration: none;
}

header {
    width: 100%;
    background: #fff;
    color: #333;
    z-index: 1;
    margin-bottom: 10px;
}
header .head-logo {
    height: 100%;
    width: 207px;
    font-size: 40px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
}

.head-logo a{
    color: #000;
    font-weight: bold;
    font-family: -webkit-pictograph;
}
#navbar{
    /*background: #D3D3D3;*/
}
.nav{
    position: relative;
    padding-left:40px;
    border: solid #B8B8B8;
    border-width: 1px 0;
}
.nav .item{
    display: inline-block;
    width: 150px;
    text-align: center;
    cursor: pointer;
    margin-left: -3px;
}
.nav .item a{
    color: #494C54;
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0;
}


.nav .item a:hover, .nav .item.active>a{
    /*color: #000;*/
    background: #353434;
    color: #FFF;
}
.nav .items{
    position: relative;
    display: inline-block;
    width: 150px;
    text-align: center;
    cursor: pointer;
    margin-left: -3px;
    height: 30px;
    line-height: 30px;
}
.nav .items:hover .subNav{
    display: block;
}
.nav .items .subNav{
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 99;
    border: 1px solid #b8b8b8;
    border-top: 1px solid #fff;
    padding: 0;
    background: #fff;
}

.items .subNav .item{
    line-height: 35px;
    list-style: none;
}

header .head-user {
    position: absolute;
    right: 20px;
    top: 16px;
}
header .head-face {
    margin-right: 10px;
}
.head-user img{
    width: 50px;
    height: 50px;
}
form {
    margin-top: 100px; }

#content {
    background: #f7f7f7;
    position: absolute;
    bottom:0;
    top:120px;
    width:100%;
    min-height:800px;
}
#content .wrap {
    position: relative;
    height: 100%;
}
#content .left-side {
    position: absolute;
    left: 0;
    width: 207px;
    background: #2a2d33;
    height: 100%;
    color: #7f8083;
}
.left-side a{
    color: #7f8083;
}
#content .left-side label {
    font-size: 12px;
    font-weight: normal;
    padding: 20px 0 10px 20px;
    width: 100%;
    border-bottom: 1px solid #3a3d42;
}
#content .left-side ul {
    padding: 0;
}
#content .left-side li {
    list-style: none;
}
#content .left-side li  a{
    display: block;
    font-size: 16px;
    padding: 5px 0;
    text-align: center;
    cursor: pointer;
}
#content .left-side li.active  a{
    background: #656c7e;
    color: #fff; }
#content .left-side li.active:hover {
    background: #656c7e;
    color: #fff; }
#content .left-side li:hover {
    background: #3e424b;
    color: #fff; }
#content .mid-side {
    height: 100%;
    /*margin-left: 207px;*/
    padding: 10px 25px;
    margin-right: 250px;
    position: relative; }
#content .mid-side .main-top {
    padding: 10px; }
#content .mid-side .main-top .main-title {
    margin: 0;
    font-size: 24px;
    font-family: "微软雅黑";
    float: left; }
#content .mid-side .main-top .main-count {
    margin: 6px 0 0 30px;
    display: inline-block; }
#content .mid-side .main-top .main-count em {
    color: #88b6f2;
    font-style: normal; }
#content .mid-side .main-mid {
    overflow-y: scroll;
    height: 100%; }
#content .mid-side .main-table {
    width: 99%;
    border: 1px solid #dedede;
    margin: 15px auto;
    margin-top:0;
    border-collapse: collapse; }
#content .mid-side .main-table tr, #content .mid-side .main-table td {
    height: 35px; }
#content .mid-side .main-table thead tr {
    background: #f8f8f8; }
#content .mid-side .main-table tbody tr:hover {
    background: #efefef; }
#content .mid-side .main-table td, #content .mid-side .main-table th {
    border: 1px solid #dedede;
    padding: 0 10px; }
#content .mid-side .main-table td.info-type-err {
    color: #fff;
    background: #f68e8e; }
#content .mid-side .main-table td.info-type-debug {
    color: #fff;
    background: #88b6f2; }
#content .mid-side .main-table td.info-type-info {
    color: #fff;
    background: #aad7d8; }
#content .mid-side .main-table .err-where {
    background: #ddd;
    border: 1px solid #ccc;
    font-family: Menlo, Monaco, Andale Mono, lucida console, Courier New, monospace;
    margin: 0 3px;
    padding: 1px 3px;
    display: inline-block; }
#content .mid-side .main-table .ico-browser {
    display: inline-block;
    width: 22px;
    height: 22px;
    cursor: pointer; }
#content .mid-side .main-table .ico-ie {
    background: url(../img/ico-ie.png) no-repeat; }
#content .mid-side .main-table .ico-chrome {
    background: url(../img/ico-chrome.png) no-repeat; }
#content .mid-side .main-table .ico-ff {
    background: url(../img/ico-ff.png) no-repeat; }
#content .mid-side .main-table .ico-opera {
    background: url(../img/ico-opera.png) no-repeat; }
#content .mid-side .main-table .ico-safari {
    background: url(../img/ico-safari.png) no-repeat; }
#content .mid-side .main-table .ico-qq {
    background: url(../img/ico-qq.png) no-repeat; }
#content .mid-side .main-table .ico-sougou {
    background: url(../img/ico-sougou.png) no-repeat; }
#content .mid-side .main-table .ico-360 {
    background: url(../img/ico-360.png) no-repeat; }
#content .mid-side .main-table .ico-qb {
    background: url(../img/ico-qb.png) no-repeat; }
#content .mid-side .main-table .ico-liebao {
    background: url(../img/ico-liebao.png) no-repeat; }
#content .mid-side .main-table .ico-android {
    background: url(../img/ico-android.png) no-repeat; }
#content .mid-side .main-table .ico-ios {
    background: url(../img/ico-ios.png) no-repeat; }
#content .right-side {
    width: 250px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #ededed;
    color: #333; }
#content .right-side section {
    padding: 20px 30px 0px; }
#content .right-side label {
    font-weight: normal; }
#content .right-side #select-all {
    margin-left: 20px; }
#content .right-side .setting-title {
    font-weight: normal; }
#content .right-side .setting-msg {
    padding: 0; }
#content .right-side .setting-msg li {
    float: left;
    width: 46px;
    height: 46px;
    border-radius: 100px;
    background: #d6d6d6;
    color: #fff;
    list-style: none;
    text-align: center;
    line-height: 46px;
    margin-right: 15px;
    cursor: pointer; }
#content .right-side .setting-msg li.msg-error {
    background: #f68e8e; }
#content .right-side .setting-msg li.msg-log {
    background: #88b6f2; }
#content .right-side .setting-msg li.msg-debug {
    background: #aad7d8; }
#content .right-side .setting-msg li.msg-dis {
    background: #d6d6d6;
    color: #333; }
#content .right-side .keyword-ctn .keyword-ipt {
    height: 25px;
    width: 90px;
    padding: 5px;
    outline: none; }
#content .right-side .keyword-ctn .keyword-btn {
    font-size: 12px;
    padding: 3px;
    height: 25px;
    margin-left: 10px; }
#content .right-side .setting-search {
    width: 137px;
    height: 37px;
    background: #88b6f2;
    color: #fff;
    float: left;
    text-align: center;
    line-height: 36px;
    border-radius: 3px;
    cursor: pointer; }
#content .right-side .setting-search:hover {
    background: #60a0f4; }
#content .right-side .keyword-tag {
    border-radius: 0 5px 5px 0;
    color: #333;
    display: inline-block;
    font-size: 10px;
    height: 18px;
    line-height: 18px;
    margin: 5px 0px 5px 8px;
    padding: 0 2px 0 12px;
    position: relative;
    text-decoration: none;
    background: #c9e5e8; }
#content .right-side .keyword-tag .keyword-del {
    margin: 0 5px 0 5px;
    cursor: pointer;
    border: 1px solid #c9e5e8;
    border-radius: 10px;
    padding: 0 4px; }
#content .right-side .keyword-tag .keyword-del:hover {
    border: 1px solid #fff; }
#content .right-side .keyword-tag:before {
    border: 9px solid;
    border-color: #ededed;
    border-right-color: #c9e5e8;
    content: " ";
    height: 0;
    left: -18px;
    position: absolute;
    top: 0;
    width: 0; }
#content .right-side .keyword-tag::after {
    background-color: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
    content: " ";
    height: 4px;
    left: 2px;
    position: absolute;
    top: 7px;
    width: 4px; }

.page-nav {
    margin-top: 20px;
    text-align: center; }
.page-nav .page-number {
    background: #4d4d4d;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0 3px 30px;
    width: 20px;
    text-decoration: none; }
.page-nav .current {
    background: #88acdb;
    cursor: default; }
.page-nav .extend {
    color: #4d4d4d;
    margin: 0 27px; }


/*@apply  coverguo 2014-12-31*/
#applyContainer{
    padding-top: 10px;
}
#applyContainer .applyTitle{
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}
#applyForm{
    max-width: 800px;
    margin: 60px auto;
}

/*@log  */
.log-operation{
}
.log-operation .log-select{
    width: 200px;
    display: inline-block;
    height: 45px;
}
.log-operation .log-searchBtn{
    display: inline-block;
    width: 120px;
    height: 43px;
    background: #88b6f2;
    border-radius: 3px;
    margin-left: 40px;
    color: #fff;
    line-height: 43px;
    text-align: center;
    cursor: pointer;
}



/*@applyList  coverguo 2014-01-07*/

/*common */
.tableSelectCheckBox{
    width: 17px;
    height: 17px;
    vertical-align: sub;
}
.parentCheckBox{
    width:20px;
    height: 20px;
}
.searchPanel{
    background: #EDEDED;
    padding: 10px;
    margin: 0 20px;
    border: 1px solid #cdcaca;
    font-family: "微软雅黑";
    font-size: 16px;
}
.searchPanel .search-info{
    margin:0 10px 0 20px;
}
.searchPanel select{
    width: 160px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.searchPanel button{
    vertical-align: bottom;
    margin-left: 20px;
    width: 80px;
}
.btn-long{
    min-width: 100px;
}
.modifyBtn{
    margin-left: 10px;
    border: 1px solid #aaa;
    cursor: pointer;
    border-radius: 12px;
    padding: 3px 15px;
    height: 26px;
    text-align: center;
    position: relative;
    overflow: hidden;
}
.apply_operation{
    position: relative;
}
.apply_operation .approveBlock{
    display: none;
    width: 250px;
    position: absolute;
    left: -80px;
    top: 40px;
    border: 1px solid #9D9696;
    background: #E5E5E5;
    border-radius: 4px;
    z-index: 99;
    padding: 30px 10px 10px 10px;
}
.approveBlock input[name="description"]{
    width: 100%;
    padding-left: 1em;
}
.approveBlock .rowBlock{
    margin-bottom: 8px;
}
.approveBlock .operation{
    margin: 0 auto;
}
.operation button{
    width: 100%;
    height: 30px;
}
#statusPanel{
    margin-bottom: 8px;
}
.statusBtn{
    width: 73px;
    height: 24px;
    line-height: 24px;
    background: #999;
    color: #fff;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
}
.applying-active .applying,
.agree-active .agree,
.disagree-active .disagree
{
    background: #259BB6;;
}
.approveBlock .closeBtn{
    position: absolute;
    right: 4px;
    top: 4px;
    width: 40px;
    height: 15px;
    cursor: pointer;
}

/*@userpanel */
.contentPanel{
    max-width: 1200px;
    margin: 40px auto;
}
.marginLeftSideBar{
    /*margin-left: 207px;*/
    padding-top: 10px;
}
 .ListTable{
    padding:10px 20px ;
    font-family: "微软雅黑";
}
 .ListTable .operationPanel{
     display: inline-block;
     vertical-align: text-bottom;
     margin-left: 30px;
 }
.infoPanel .info{
     font-size: 18px;
     font-family: "微软雅黑";
     line-height: 45px;
     font-weight: bold;
 }

 .ListTable .infoPanel .projectName{
     font-size: 22px;
 }
.ListTable .tableTitle{
    font-size: 24px;
    font-weight: bold;

    line-height: 40px;
    display: block;
    background: #3a3d42;
    color: #fff;
    border-radius: 4px 4px 0 0;
    padding-left: 10px;
    border-bottom: 2px solid #ddd;
}
.tableWrapper{
    margin: -2px 1px 0 1px;
    padding: 20px 10px;
}
.dataTable .listRow:hover{
    background: #ddd;

}

.userEditor form{
    margin:0;
}

.td-1 {
    width:50px;
}

.td-2 {
    width:180px;
}

.td-3 {
    width:400px;
    word-break: break-all;
}

.td-4 {
    width:130px;
}

.td-5 {
    width:135px;
}

.td-6 {
    width:50px;
}

.td-7 {
}

#statistics section {
    padding: 10px 0 ;
}

.approveBtn {
    background: white;
}

.applyingBtn{
    color: orange;
}

.passBtn{
    color:green;
}

.rejectedBtn{
    color:red;
}

.textOverflow{
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

/*charts 图表*/
#chartsContainer{
    width: 98%;
    margin: 20px  auto;
    padding: 30px 15px;
}

