body, html {
    height: 100%;
    overflow: hidden;
}
.clear{
    clear: both;
}
header{
    width: 100%;
    height: 80px;
    background: #fff;
    color: #333;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    .head-logo{
        background: #88b6f2;
        height: 100%;
        width: 207px;
        font-size: 40px;
        text-align: center;
        font-family: "宋体";
        color: #fff;
        line-height: 75px;
        float: left;
    }
    .head-rightside{
        height: 100%;
        position: relative;
        padding-top: 22px;
        border-bottom: 1px solid #cecece;
    }
    .head-search{
        height: 36px;
        width: 380px;
        position: relative;
        float: left;
        margin-left: 50px;
        .head-input{
            background: #f7f7f7;
            border-radius: 3px;
            height: 100%;
            width: 100%;
            border: none;
            outline: none;
            padding: 5px 10px;

        }
        .head-btn{
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 36px;
            background: #bdc2ca;
            cursor: pointer;
            span {
                font-size: 25px;
                line-height: 35px;
                margin-left: 5px;
                color: #eee;
            }
        }
    }
    .head-add{
        width: 137px;
        height: 37px;
        background: #e6614f;
        color: #fff;
        float: left;
        text-align: center;
        line-height: 36px;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 100px;
        &:hover{
            background: #f25a45;
        }
    }
    .head-user{
        position: absolute;
        right: 20px;
        top: 16px;
    }
    .head-face{
        margin-right: 10px;
    }
}

form{
    margin-top: 100px;
}
#content{
    height: 100%;
    background: #f7f7f7;
    position: relative;
    .wrap{
        margin-top: 80px;
        padding-bottom: 190px;
        height: 100%;
    }
    .left-side{
        position: absolute;
        left: 0;
        width: 207px;
        background: #2a2d33;
        height: 100%;
        color: #7f8083;
        label{
            font-size: 12px;
            font-weight: normal;
            padding: 20px 0 10px 20px;
            width: 100%;
            border-bottom: 1px solid #3a3d42;
        }
        ul{
            padding: 0;
        }
        li{
            font-size: 16px;
            list-style: none;
            padding: 5px 0;
            text-align: center;
            cursor: pointer;
            &.active{
                background: #656c7e;
                color: #fff;
                &:hover{
                    background: #656c7e;
                    color: #fff;
                }
            }
            &:hover{
                background: #3e424b;
                color: #fff;
            }
        }
    }
    .mid-side{
        height: 100%;
        margin-left: 207px;
        margin-right: 250px;
        position: relative;
        .main-top{
            padding: 10px;
            .main-title{
                margin: 0;
                font-size: 24px;
                font-family: "微软雅黑";
                float: left;
            }
            .main-count{
                margin: 6px 0 0 30px;
                display: inline-block;
                em{
                    color: #88b6f2;
                    font-style: normal;
                }
            }
        }
        .main-mid{
            overflow-y: scroll; 
            height: 100%;
        }
        .main-table{
            width: 99%;
            border: 1px solid #dedede;
            margin: 15px auto;
            border-collapse: collapse;
            tr,td{
              height:35px;
            }
            thead{
              tr {
                background: #f8f8f8;
              }
            }
            tbody{
              tr:hover{
                background: #efefef;
              }
            }
            td,th{
              border: 1px solid #dedede;
              padding: 0 10px;
            }
            td{
                &.info-type-err{
                    color: #fff;
                    background: #f68e8e;
                }
                &.info-type-debug{
                    color: #fff;
                    background: #88b6f2;
                }
                &.info-type-info{
                    color: #fff;
                    background: #aad7d8;
                }
            }
            .err-where{
                background: #ddd;
                border: 1px solid #ccc;
                font-family: Menlo,Monaco,Andale Mono,lucida console,Courier New,monospace;
                margin: 0 3px;
                padding: 1px 3px;
                display: inline-block;
            }
            .ico-browser{
                display: inline-block;
                width: 22px;
                height: 22px;
                cursor: pointer;
            }
            .ico-ie{
                background: url(../img/ico-ie.png) no-repeat;
            }
            .ico-chrome{
                background: url(../img/ico-chrome.png) no-repeat;
            }
            .ico-ff{
                background: url(../img/ico-ff.png) no-repeat;
            }
            .ico-opera{
                background: url(../img/ico-opera.png) no-repeat;
            }
            .ico-safari{
                background: url(../img/ico-safari.png) no-repeat;
            }
            .ico-qq{
                background: url(../img/ico-qq.png) no-repeat;
            }
            .ico-sougou{
                background: url(../img/ico-sougou.png) no-repeat;
            }
            .ico-360{
                background: url(../img/ico-360.png) no-repeat;
            }
            .ico-liebao{
                background: url(../img/ico-liebao.png) no-repeat;
            }
          }
    }
    .right-side{
        width: 250px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: #ededed;
        color: #333;
        section{
            padding: 20px 30px 0px;
        }
        label{
            font-weight: normal;
        }
        #select-all{
            margin-left: 20px;
        }
        .setting-title{
            font-weight: normal;
        }
        .setting-msg{
            padding: 0;
            li{
                float: left;
                width: 46px;
                height: 46px;
                border-radius: 100px;
                background: #d6d6d6;
                color: #fff;
                list-style: none;
                text-align: center;
                line-height: 46px;
                margin-right: 15px;
                cursor: pointer;
                &.msg-error{
                    background: #f68e8e;
                }
                &.msg-log{
                    background: #88b6f2;
                }
                &.msg-debug{
                    background: #aad7d8;
                }
                &.msg-dis{
                    background: #d6d6d6;
                    color: #333;
                }
            }
        }
        .keyword-ctn{
            .keyword-ipt{
                height: 25px;
                width: 90px;
                padding: 5px;
                outline: none;
            }
            .keyword-btn{
                font-size: 12px;
                padding: 3px;
                height: 25px;
                margin-left: 10px;
            }
        }
        .setting-search{
            width: 137px;
            height: 37px;
            background: #88b6f2;
            color: #fff;
            float: left;
            text-align: center;
            line-height: 36px;
            border-radius: 3px;
            cursor: pointer;
            &:hover{
                background: #60a0f4;
            }
        }
        .keyword-tag{
            border-radius: 0 5px 5px 0;
            color: #333;
            display: inline-block;
            font-size: 10px;
            height: 18px;
            line-height: 18px;
            margin: 5px 0px 5px 8px;
            padding: 0 2px 0 12px;
            position: relative;
            text-decoration: none;
            background: #c9e5e8;
            .keyword-del{
                margin: 0 5px 0 5px;
                cursor: pointer;
                border: 1px solid #c9e5e8;
                border-radius: 10px;
                padding: 0 4px;
                &:hover{
                    border: 1px solid #fff;
                }
            }
            &:before {
                border: 9px solid;
                border-color: #ededed;
                border-right-color: #c9e5e8;
                content: " ";
                height: 0;
                left: -18px;
                position: absolute;
                top: 0;
                width: 0;
            }
            &::after {
                background-color: #fff;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
                box-shadow: 0 0 0 1px rgba(0,0,0,0.3);
                content: " ";
                height: 4px;
                left: 2px;
                position: absolute;
                top: 7px;
                width: 4px;
            }
        }
    }
}

.page-nav{
    margin-top: 20px;
    text-align: center;
    .page-number {
        background: #4d4d4d;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        color: #fff;
        display: inline-block;
        height: 20px;
        line-height: 20px;
        margin: 0 3px 30px;
        width: 20px;
        text-decoration: none;
    }
    .current {
        background: #88acdb;
        cursor: default;
    }
    .extend{
        color: #4d4d4d;
        margin: 0 27px;
    }
}