<% for(var i =0, len = it.length;i<len; i++){
    var role ="普通用户";
    if(it[i].role ==1){
        role ="管理员";
    }
%>
<tr class="listRow">
    <td><%== it[i].id%></td>
    <td><%== it[i].loginName%></td>
    <td><%== it[i].chineseName%></td>
    <td><%== it[i].role%></a></td>
    <td>
        <div class="userEditor">
                <label class="sr-only"  >权限</label>
                <select name="" class="userRole" value="<%== it[i].role%>">
                    <option value="0">普通用户</option>
                    <option value="1">管理员</option>
                </select>
                <button data-userid = "<%== it[i].id%>"  class="btn-default modifyBtn">修改</button>
        </div>
    </td>
</tr>
<%}%>
