<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>BadJs - 前端js异常监控系统</title>
    <link href="/static/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/bootstrap/bootstrap-theme.css" rel="stylesheet">
    <link  href="/static/lib/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet"/>
    <link href="/static/module/common/app.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon" />
</head>
<body>

	<script src="/static/badjs/bj-report.js"></script>
	<script src="/static/badjs/bj-wrap.js"></script>
    <script>
        BJ_REPORT.init({
            id: 2,
            url: "http://127.0.0.1/badjs"
        });

        BJ_REPORT.tryJs().spyAll();
    </script>