<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>BetterJs - 前端代码异常监控系统</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css"/>
<link href="/css/app.css" rel="stylesheet">
</head>
<body>

<header>
    <div class="head-logo"><a href="index.html">BetterJs</a></div>
    <div class="head-rightside">
        <div class="head-search">
          <!--  <input type="text" class="head-input" placeholder="选择业务"/>
            <div class="head-btn" data-event-click="searchBusiness"><span class="glyphicon glyphicon-search"></span></div>-->
            <select class="form-control " data-event-change="selectBusiness" id="select-business">
                <option value="-1">-- 请选择项目 --</option>
                <option value="990"> 电影票 - 撒娇女人活动</option>
                <option value="991"> mobile app</option>
            </select>
        </div>
        <div class="head-add" data-event-click="addBusiness">添加新业务</div>
        <div class="head-user">
            <% if (it.user) { %>
            <a href="/logout">退出</a>
            <span class="head-face"><%= it.user.chineseName %>(<%= it.user.loginName %>)</span>
            <img src="/img/face.jpg" />
            <% } else { %>
            <a href="/login">登录</a>
            <% } %>
        </div>
    </div>
</header>