<%
    if (!it.data || !it.data[0] || !it.data[0].content || !it.data[0].content[0]) {
%>
    <tr ><td colspan="3" style="text-align: center">当天没有统计数据</td></tr>
<%
    } else {
        var count = 0 ;
        var content = it.data[0].content;
        $.each(content , function (key , value) {
%>
<tr class="listRow">
    <td class="td-row-1" style="width:40px;"><%= ++count %></td>
    <td class="td-row-2" style="width:120px;"><%= value.total %></td>
    <td class="td-row-3" style="word-break:break-all"><%= opt.encodeHtml(value.title) %></td>
</tr>
<%
        });
    }
%>
