<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" id="<%=it.id || '' %>">
  <div class="modal-backdrop fade"></div>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" data-event-click="close">×</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><%=it.header%></h4>
      </div>
      <div class="modal-body">
        <%=it.body%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-event-click="close">Close</button>
      </div>

    </div>
  </div>
</div>